body {
  background-color: lightgray;
  margin: 0;
  padding: 0;
}

* {
  font-family: serif;
}

.main {
  display: flex;
  justify-content: space-between;
}

.hisory_container {
  display: flex;
}

.randomizer {
  width: 100%;
  height: 100vh;
  border: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: gray;
  color: black;
  border: none;
  padding-top: 8px;
  padding-bottom: 4px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 12px;
}

.randomizer > button {
  font-size: 1.5em;
  font-weight: bold;
}

.intervaltext {
  font-size: 1.5em;
}

.history {
  margin-top: 16px;
  margin-right: 16px;
  padding-left: 10px; 
  height: 85vh;
  width: 150px;
  overflow: hidden;
  overflow-y: scroll;
}

.clearhistory {
  margin-top: 8px;
}

.disabledbtn {
  color: #3b3b3b
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .randomizer { 
    height: 40vh;
  }

  .history_container {
    margin-left: 16px;
  }
  .history {
    height: 45vh;
    width: 95%;
  }
}
